
/* START */

.container-start {
    height: calc(100vh - 76px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #fdb;
}

.container-info-start {
    width: 50%;
    height: 100%;
    text-align: justify;
    padding: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}

.text-info-start {
    font-size: 20px;
}

.container-image-start {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-start {
    width: 75%;
}

.header-info-start {
    margin: 18px;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}

/* DATA */

.container-data {
    height: calc(100vh - 76px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
}

.container-card-data {
    margin: 18px;
    border: 1px solid #fdb;
    width: 320px;
    height: 66%;
    padding: 14px;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 1px 0px 4px 3px inset #fdb;
}

.header-card {
    font-size: 28px;
}

.text-card {
    font-size: 22px;
}

.icon-card {
    width: 240px;
}

/* NOT FOUND */

.not-fount-container {
    position: absolute;
    top: 76px;
    left: 0;
    height: calc(100vh - 76px);
    width: 100%;
}
.container-message-not-found {
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
}