.container-profile {
    width: 100%;
    height: calc(100vh - 76px - 24px);
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 612px) {
        display: block;
    }
}

/* INFO */

.container-info-profile {
    width: 292px;
    height: 100%;
    padding: 22px;

    @media (max-width: 612px) {
        width: 100%;
        height: auto;
    }
}

.user-info-profile {
    font-size: 26px;
    color: var(--main-color);
}

.text-info-profile {
    font-size: 18px;
    margin-top: 12px;
}

.button-profile {
    margin-top: 12px;
    background: var(--main-color);
    font-size: 20px;
    color: #fff;
    padding: 7px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
}

.button-profile:hover {
    background: #f76;
}

.button-profile:active {
    background: var(--main-color);
}

.button-follow {
    margin-top: 12px;
    background: #fff;
    font-size: 20px;
    color: var(--main-color);
    padding: 7px;
    outline: none;
    border: 1px solid var(--main-color);
    height: 31x;
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
}

.button-follow:hover {
    background: #ddd;
}

.button-follow:active {
    background: #fff;
}

/* SURVEYS */

.container-surveys-profile {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1;
    height: 100%;
    overflow-y: auto;
    padding: 22px;
    border: 1px solid var(--main-color);
    border-radius: 4px;
}

/* USERS */

.container-users {
    width: 100%;
}

.user-users {
    border: 1px solid var(--main-color);
    padding: 14px;
    cursor: pointer;
}

.user-users:hover {
    background: #fdb;
}

.user-users:active {
    background: #fff;
}

.start-profile {
    color: var(--main-color);
    font-size: 22px;
    cursor: pointer;
    margin-left: 5px;
}

.start-profile:hover {
    text-decoration: underline;
}

.start-profile:active {
    text-decoration: none;
}