.container-surveys {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.contain-surveys-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}

.card-survey {
    width: 348px;
    padding: 16px;
    border-radius: 7px;
    margin: 20px;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    border: 2px solid var(--main-color);
    cursor: pointer;
}

.card-survey:hover {
    box-shadow: 0px 0px 2px 1px inset var(--main-color);
}

.card-survey:active {
    box-shadow: none;
}

.title-survey-list {
    font-size: 24px;
}

.option-survey-list {
    font-size: 16px;
    margin: 6px;
}

.recommendations-survey-list {
    color: var(--main-color);
    margin: 4px;
}

/* RECOMMENDATIONS */

.contain-recommendations-list {
    position: fixed;
    right: -322px;
    top: 0;
    z-index: 4;
    border: 1px solid var(--main-color);
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    padding: 7px;
    margin-top: 76px;
    height: calc(100vh - 76px);
    background: #fdb;
    transition: right ease 1.2s;
}

.contain-recommendations-list:hover {
    right: 0;
}

.header-recommendation {
    font-size: 22px;
    color: var(--main-color);
}

/* GET SURVEY */

.container-getsurvey {
    width: 100%;
    padding: 22px;
}

.container-survey-info {
    margin: 22px;
    padding: 12px 22px;
    text-align: center;
    border: 1px solid var(--main-color);
    position: relative;
}

.text-survey-info {
    font-size: 24px;
    font-weight: 900;
    color: var(--main-color);
}

.container-info-getsurvey {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 16px;
    width: 100%;
    padding: 8px;
    outline: 2px solid var(--main-color);
    border-radius: 4px;
    background: #fff;
}

.container-icon-info {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container-icon-info:hover {
    color: var(--main-color);
}

.container-icon-info:active {
    color: #000;
}

.text-info-getsurvey {
    font-size: 18px;
    margin-left: 4px;
}

.container-options-survey {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
}

.button-option-survey {
    width: 100%;
    padding: 16px;
    text-align: left;
    font-size: 22px;
    cursor: pointer;
    border: 1px solid var(--main-color);
    background: #fff;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-option-survey:hover {
    background: #ddd;
}

.button-option-survey:active {
    background: #fff;
}

.text-percetage {
    color: var(--main-color);
    font-size: 22px;
}

/* REMOVE */

.container-remove {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 44;
}

.contain-remove {
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    max-width: 37%;
    background: #fff;
    padding: 12px;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}

.container-actions-remove {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 28px;
}

.text-remove {
    font-size: 18px;
    color: #111;
    padding: 7px;
}

.text-remove-p {
    font-size: 18px;
    color: var(--main-color);
    cursor: pointer;
}

.text-remove-p:hover {
    text-decoration: underline;
}

.text-remove-p:active {
    text-decoration: none;
}

.remove-icon {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #f00;
    cursor: pointer;
}

.remove-icon:hover {
    color: #f44;
}

.remove-icon:active {
    color: #f00;
}